
.icon-video:before { content: '\e802'; } /* '' */
.icon-thumbs-up:before { content: '\e800'; } /* '' */
.icon-thumbs-down:before { content: '\e801'; } /* '' */
.icon-gamepad:before { content: '\e803'; } /* '' */
.icon-book:before { content: '\e804'; } /* '' */