*,#search_box input.text{margin:0}
*{padding:0}
body{background:#eaEAEA;font:16px Helvetica,Arial,Georgia,sans-serif;color:#222526;min-width:960px}
h1#logo,#secondary-links a,#links a,#recent_reviews,#sidebar{float:left}
h1#logo{width:440px;background:url(../images/logo.png);text-indent:-9999px;margin:0 0 0 5%}
h1#logo,#header,.review_author{height:180px}
a,#secondary-links a,#links a,#active_users a,#top_rated a{text-decoration:none}
a {color:#D94F00; }
#active_users span.see_more a,#top_rated span.see_more a{color:#7F203B; text-decoration: underline}
ul{list-style:none}
#header,.review_author{background:#2b302d}
#header{border-bottom:1px solid #EEE}
#search_box{background:#222;margin-right:10%;padding:3px 6px 8px 6px}
#search_box,span.see_more,.details,.review_author p.rating,.review_content p.date_posted,#main_content .review_content .review_nav li{float:right}
#search_box,#nav,#secondary-links,#content,#active_users,#top_rated,#recent_reviews,#main_content,.review,.review_content{overflow:hidden}
#search_box input.text{padding:6px;font-size:0.95em}
#search_box input.text,#search_button{border:none}
#search_box form{background:#fff;border:1px solid #CCC}
#search_button{background:#fff url(../images/Search.png) no-repeat;margin-left:-4px;cursor:pointer}
#search_button,.review_nav a,#loading, a#edit_title{height:32px;width:32px}
#nav{background:#39403c}
#secondary-links ul,#links{margin-left:5%}
#secondary-links a,#links a,#active_users a,#top_rated a,.recent_review,.movie,#main_content li,.details,.review_nav a,#main_content .review_content .review_nav li{display:block}
#secondary-links a,#links a{margin:0 0;padding:5px 20px}
#links a{font-size:1.3em;color:#FFF}
#secondary-links a{font-size:1.1em;color:#f2eee8}
#secondary-links,#moderator_body li.moderator > a,#login_body li.login > a,#users_body li.users > a,#movies_body li.movies > a,#home_body li.home > a{background:#666}
#secondary-links a:hover{color:#FFBB6E}
#links a:hover{background:#555}
#moderator_body li.moderator > a,#login_body li.login > a,#users_body li.users > a,#movies_body li.movies > a,#home_body li.home > a,span.see_more,span.rating,.user_reviews_count,.review_author p.rating span,#movie_rating span{font-weight:bold}
#content{clear:left;width:90%;padding:0 0 0 0}
#content,#footer,.review_author img{margin:0 auto}
#active_users,#top_rated,#recent_reviews,#main_content,.review_author img{background:#fafafa; }
#main_content,#recent_reviews{padding:50px 20px}
#recent_reviews,#footer{width:70%}
h2{border-bottom:1px solid #2b302d;padding:5px 0 3px 0;width:40%}
#recent_reviews ul,#main_content ul{margin:10px 0}
#sidebar{width:20%;margin:0 0 0 25px}
#top_rated,#original_title,#movie_title{margin:0 0 15px 0}
#active_users a,#top_rated a{padding:5px 0 5px 10px; color: #2B302D;}
li.movie:hover,#active_users a:hover,#top_rated a:hover{background:#ebe6e1}
#top_rated h3,#active_users h3{background:#707975;font-size:1.4em;margin:40px 0 0 0;padding:10px 5px 10px 5px}
#top_rated h3,#active_users h3,.review_author a,.review_author{color:#ffc300}
#active_users h3{margin-top:0}
span.see_more{display:inline;margin:5px 10px 0 0;text-decoration:underline}
span.see_more,.review_content p.date_posted,span.author,span.date_posted{font-size:0.8em}
#top_rated .see_more a:hover,#active_users .see_more a:hover{background:transparent}
#top_rated .see_more a:hover,#active_users .see_more a:hover,#movie_rating{font-size:1.2em; padding: 5px 0 3px 10px;}
#active_users,#top_rated{padding:0 0 10px 0}
#active_users,#top_rated,.pagination,.centered,#footer,.review_author span.author,#original_title,#movie_title,#movie_rating{text-align:center}
.recent_review,.movie,#main_content li{margin:2px 15px 2px 15px;padding:5px 2px}
.recent_review,.movie,.clear,#footer, .review_content p.review {clear:both}
span.rating{margin-left:8px}
#movies_body span.date_posted{margin:0 3px 0 0}
.movie_rating{margin-right:100px}
.movie_rating strong{margin:4px}
.movie_rating strong,#user_details a,#user_details p{padding:5px}
#moderator_body table,.review_author,.review .wrapper .col1{width:100%}
#moderator_body td{padding:1px 2px 1px 2px}
#moderator_body table ul{margin:1px 0 1px 0}
#moderator_body table li{margin:2px 5px 1px 5px}
td.bad-review-comment,#login-form input{width:75%}
table{width:100%}
td{padding:3px 5px}
#about{margin:0 3px 25px 3px}
#navigation{padding:15px 10px;margin:2px 5px 5px 2px;border:solid #AAA 1px}
select {margin:5px 0px}
#navigation input{text-align:right}
#user_details a,#user_details p{margin:2px 3px 3px 2px}
.odd{background:#d2ded8}
input[type=submit]{padding:3px 7px 3px 7px;margin:3px 2px 3px 2px;vertical-align:top}
#footer{font-size:0.9em;color:#444}
#login-form input{padding:5px 2px 5px 2px;margin:10px 3px 10px 3px}
#login-form{margin:75px auto;width:300px}
.asc,.desc{padding:0 16px 0 0}
.asc{background:url('../images/sort.png') no-repeat right -5px}
.desc{background:url('../images/sort.png') no-repeat right 8px}
.review_content .author a{font-size:1em}
.review_content .author a:hover{border-bottom:1px dotted #ffc300}
.review_content p.rating{margin:10px 0 10px 0; font-size: 1.2em; font-weight: bold; color:#F28D00;}
#movie_rating span{font-size:1.5em;}
.review_content .author, #author {margin:2px 0px 0 0; float: left;}
.review_content{background:#fefefe;border:3px solid #2b302d;margin: 50px 25px; padding:10px 20px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;-khtml-border-radius:10px}
.review_content ul{margin:10px 0 5px 0}
.review_content p.date_posted, #date_posted{margin:2px 0 10px 0}
.review_content p{text-align:justify;font-family:Georgia,serif;margin:15px 0;line-height:1.35em}
#main_content .review_content .review_nav li{margin:1px 5px}
.go_to_source{background:url('../images/home32.png')}
.error_report{background:url('../images/warning32.png')}
.review_nav a.toggle {background:url('../images/users32.png')}
input.permalink,#comment,#loading,#result,div#t_edit_title,div#t_insert_title { display: none; }
.edit, #edit_title, #insert_title {width:32px; height: 32px; display: block; margin: 4px;  }
input[type="image"] { margin: 0px 5px; }
.edit, #edit_title { background:url('../images/pencil32.png') no-repeat; }
#insert_title { background:url('../images/plus32.png') no-repeat; }
#original_title,#movie_title{font-size:2.5em}
#loading{background:url('../images/ajax-loader.gif')}
.rss {    background: url("../images/rss.png") no-repeat scroll 0 0 transparent;     display: block;     height: 64px;     margin: 0 0 0 80%;     position: relative;     top: 80px;     width: 64px;}
.left { float: left }
.right { float: right }
 #t_edit_title , #t_insert_title, #t_email_change, #t_password_change { height: 32px; }
 .clearfix:after { 	content: "."; 	display: block; 	clear: both; 	visibility: hidden; 	line-height: 0; 	height: 0; }  
 .clearfix { 	display: inline-block; }  html[xmlns]
	.clearfix { 	display: block; }  
 * html .clearfix { 	height: 1%; }
 .required {border: 1px solid red; }
 #edit_review { width: 75%; margin: 0 auto; }
 textarea { width: 100%; }
 div#errors, div#info { margin: 15px 0; font-weight: bold }
 div#errors { color: red;}
 div#info { color: green; }
 #save_title{ display: none; }
 .hidden { display: none; }